.sp-nav-header {
    height: 5.4em;
}

.sp-navbar {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    padding: 1em;
    background-color: #f3f3f3;
    box-shadow: 0 0 3px 0 #00000047;
    height: 5.4em;
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100vw;
}

.sp-nav-logo-box {
    display: flex;
    align-items: center;
    gap: 1em;

    & img {
        width: 50px;
        height: 50px;
    }
}

.sp-nav-btn-box {
    justify-self: center;
}